*{
    box-sizing: border-box;
}

body{
    padding:0;
    margin:0;
    font-family: vcr;
}


@mixin fullParentSize {
    width:100%;
    height:100%;
}

@mixin abs00 {
    position: absolute;
    top:0;
    left:0;
}

@font-face {
    font-family: vcr;
    src: url("./VCR_OSD_MONO_1.001.ttf");
}

$dark-blue :#191A23;
$card-background : #282F37;
$card-background-light : #313A44;
$card-light : #6D7C8E;
$card-font : #DFDFDF;
$muted-card-font : #AAAAAA;

.container{
    width:100%;
    height: 100vh;
    display : flex;
    justify-content: center;
    align-items: center;

    .background{
        z-index: -10;
        @include fullParentSize();
        @include abs00();

        .bgImage{
            @include fullParentSize();
            @include abs00();
            z-index:-1;

            &.bgTransition-enter {
                opacity: 0.01;
            }

            &.bgTransition-enter.bgTransition-enter-active {
                opacity: 1;
                transition: opacity 500ms ease-in;
            }

            &.bgTransition-leave {
                opacity: 1;
            }

            &.bgTransition-leave.bgTransition-leave-active {
                opacity: 0.01;
                transition: opacity 300ms ease-in;
            }
        }

        .bgFilter{
            @include fullParentSize();
            @include abs00();
            background-color:$dark-blue;
            opacity: 0.85;
        }
    }
    
    .musicPlayer{
        width:50%;
        height: 60%;
        border:1px solid black;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(10, 10%);
        align-items: center;

        #visualizer{
            position: relative;
            z-index: 10;
            grid-row: 1;
            grid-column: 1;
            border-radius: 50%;
            border:1px solid black;
            width:20vw;
            height:20vw;

            .cover{
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                overflow: hidden;
                width: 70%;
                height: 70%;
                transition: all 600ms ease-in-out;

                &.cover-appear{
                    width:5%;
                    height:5%;

                    &.cover-appear-active{
                        width:70%;
                        height:70%;
                    }
                }

                &.cover-enter {
                    width: 5%;
                    height: 5%;

                    &.cover-enter-active {
                        width: 70%;
                        height: 70%;
                    }
                }

                &.cover-leave {
                    width: 5%;
                    height: 5%;

                    &.cover-leave-active {
                        width: 70%;
                        height: 70%;
                    }
                }
            }
        }
    
        .card{
            position: relative;
            padding-left: 32%;
            grid-row: 1;
            grid-column: 3 / 11;
            height: 60%;
            background-color: $card-background;
            border-radius: 20px;
            display: flex;
            align-items: center;
            box-shadow: 1px 3px 6px rgba(0,0,0,0.2);

            .flex-wrap{
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: flex-start;
                height:80%;
                width:80%;

                .info {
                    width: 100%;
                    height: 30%;
                    .artist, .title, .album{
                        text-transform: uppercase;
                        color: $card-font;
                        font-size: 35px;
                    }
                    .album{
                        color: $muted-card-font;
                        font-size: 25px;
                    }
                }
    
                .controls{
                    align-self: center;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    width: 95%;
                    height:25%;

                    .before, .next, .playPause{
                        height:25px;
                        cursor: pointer;
                    }

                    .before{
                        transform-origin: center;
                        transform: rotate(180deg);
                    }
                }

                .progressBar{
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width:100%;
                    height:25px;
                    background-color: $card-background-light;
                    border-radius:10px;
                    overflow: hidden;

                    *{
                        pointer-events: none;
                        user-select: none;
                    }
                    
                    .actualTime, .totalTime{
                        color: $card-font;
                        z-index: 10;
                        font-size: 18px;
                    }

                    .actualTime{
                        margin-left: 15px;
                    }
                    
                    .totalTime{
                        margin-right: 15px;
                    }
                    .timeProgression{
                        @include abs00();
                        height: 100%;
                        width:0%;
                        background-color: $card-light;
                        border-radius:10px;
                        transition : all 0.6s ease-in-out;
                    }
                }
            }

            .playlist{
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: flex-start;
                height:80%;
                width:100%;
                color: $card-font;

                &.playlist-pop-enter{
                    opacity:0.01;

                    &.playlist-pop-enter-active {
                        opacity:1;
                        transition: opacity 500ms ease-in-out;
                    }
                }

                &.playlist-pop-leave {
                    opacity: 1;

                    &.playlist-pop-leave-active {
                        opacity:0.01;
                        transition: opacity 500ms ease-in-out;
                    }
                }
                

                .playlistElement{
                    display : flex;
                    flex-flow: row nowrap;
                    height : 50px;
                    align-items: center;
                    justify-content: space-between;
                    width:83%;

                    .playButton{
                        cursor: pointer;
                        height:30px;
                        margin-right:10px;
                    }

                    .playlistWrap{
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width:100%;
                        background-color: $card-background-light;
                        border-radius: 16px;
                        height: 80%;
                        box-shadow: 1px 3px 6px rgba(0,0,0,0.2);
                        font-size: 18px;
                        overflow: hidden;
    
                        .left{ 
                            z-index: 2;
                            display: flex;
                            flex-flow: row nowrap;
                            margin-left: 15px;
                            width: 73%;

                            .artist, .title{
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                word-wrap: break-word;
                                overflow: hidden;
                                max-height: 1.8em;
                                line-height: 1.8em;
                            }

                            .artist{
                                text-transform: uppercase;
                                width:47%;
                            }

                            .title{
                                width:33%;
                            }
    
                        }
    
                        .duration{
                            margin-right: 15px;
                            width:20%;
                        }
    
                        .artist, .title, .duration{
                            z-index: 2;
                            font-size: 22px;

                        }
    
                        .timeProgression{
                            @include abs00();
                            width:50%;
                            height:100%;
                            background-color: $card-light;
                            border-radius: 13px;
                            transition:all 0.2s ease-in-out;
                        }

                    }
                }
            }

            .playlistSwitch {
                position: absolute;
                top:10%;
                right:6%;
                transform: rotate(-90deg);
                transform-origin: right;
                cursor: pointer;
                color: $card-font;
                font-size: 22px;
            }

            .volume{
                position: absolute;
                top:50%;
                right:-12px;
                transform : translateY(-50%);
                height:90%;
                width:25px;
                background-color: $card-background-light;
                border-radius:10px;
                overflow: hidden;

                *{
                    pointer-events: none;
                    user-select: none;
                }

                .volumeIcon{
                    width:80%;
                    margin-top: 5px;
                    margin-left: 2px;
                }

                .volumeProgression{
                    @include abs00();
                    transform: rotate(180deg) translateY(-50%);
                    height:100%;
                    width:100%;
                    border-radius: 10px;
                    background-color: $card-light;
                    display: flex;
                    padding-bottom: 12px;

                    .volumePercentage{
                        align-self: flex-end;
                        margin-left: -4px;
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }
}