* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: vcr; }

@font-face {
  font-family: vcr;
  src: url("./VCR_OSD_MONO_1.001.ttf"); }
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container .background {
    z-index: -10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .container .background .bgImage {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
    .container .background .bgFilter {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #191A23;
      opacity: 0.85; }
  .container .musicPlayer {
    width: 50%;
    height: 60%;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(10, 10%);
    align-items: center; }
    .container .musicPlayer #visualizer {
      z-index: 10;
      grid-row: 1;
      grid-column: 1;
      border-radius: 50%;
      border: 1px solid black;
      width: 20vw;
      height: 20vw; }
    .container .musicPlayer .card {
      position: relative;
      padding-left: 32%;
      grid-row: 1;
      grid-column: 3 / 11;
      height: 60%;
      background-color: #282F37;
      border-radius: 20px;
      display: flex;
      align-items: center;
      box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2); }
      .container .musicPlayer .card .flex-wrap {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: flex-start;
        height: 80%;
        width: 80%; }
        .container .musicPlayer .card .flex-wrap .info {
          width: 100%;
          height: 30%; }
          .container .musicPlayer .card .flex-wrap .info .artist, .container .musicPlayer .card .flex-wrap .info .title, .container .musicPlayer .card .flex-wrap .info .album {
            text-transform: uppercase;
            color: #DFDFDF;
            font-size: 35px; }
          .container .musicPlayer .card .flex-wrap .info .album {
            color: #AAAAAA;
            font-size: 25px; }
        .container .musicPlayer .card .flex-wrap .controls {
          align-self: center;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          width: 95%;
          height: 25%; }
        .container .musicPlayer .card .flex-wrap .progressBar {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 25px;
          background-color: #313A44;
          border-radius: 10px;
          overflow: hidden; }
          .container .musicPlayer .card .flex-wrap .progressBar .actualTime, .container .musicPlayer .card .flex-wrap .progressBar .totalTime {
            color: #DFDFDF;
            z-index: 10;
            font-size: 18px; }
          .container .musicPlayer .card .flex-wrap .progressBar .actualTime {
            margin-left: 15px; }
          .container .musicPlayer .card .flex-wrap .progressBar .totalTime {
            margin-right: 15px; }
          .container .musicPlayer .card .flex-wrap .progressBar .timeProgression {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0%;
            background-color: #6D7C8E;
            border-radius: 10px; }
      .container .musicPlayer .card .playlist {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: flex-start;
        height: 80%;
        width: 80%;
        color: #DFDFDF; }
        .container .musicPlayer .card .playlist .playlistElement {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          background-color: #313A44;
          border-radius: 16px;
          height: 40px;
          box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
          font-size: 18px;
          overflow: hidden; }
          .container .musicPlayer .card .playlist .playlistElement .left {
            z-index: 2;
            display: flex;
            flex-flow: row nowrap;
            margin-left: 15px; }
            .container .musicPlayer .card .playlist .playlistElement .left .artist {
              text-transform: uppercase; }
          .container .musicPlayer .card .playlist .playlistElement .duration {
            margin-right: 15px; }
          .container .musicPlayer .card .playlist .playlistElement .artist, .container .musicPlayer .card .playlist .playlistElement .title, .container .musicPlayer .card .playlist .playlistElement .duration {
            z-index: 2;
            font-size: 22px; }
          .container .musicPlayer .card .playlist .playlistElement .timeProgression {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: #6D7C8E;
            border-radius: 13px; }
      .container .musicPlayer .card .playlistSwitch {
        position: absolute;
        top: 10%;
        right: 5%;
        transform: rotate(-90deg);
        cursor: pointer;
        color: #DFDFDF; }
      .container .musicPlayer .card .volume {
        position: absolute;
        top: 50%;
        right: -12px;
        transform: translateY(-50%);
        height: 90%;
        width: 25px;
        background-color: #313A44;
        border-radius: 10px;
        overflow: hidden; }
        .container .musicPlayer .card .volume .volumeProgression {
          position: absolute;
          top: 0;
          left: 0;
          transform: rotate(180deg) translateY(-50%);
          height: 100%;
          width: 100%;
          border-radius: 10px;
          background-color: #6D7C8E;
          display: flex;
          padding-bottom: 12px; }
          .container .musicPlayer .card .volume .volumeProgression .volumePercentage {
            align-self: flex-end;
            margin-left: -4px;
            transform: rotate(-90deg); }

/*# sourceMappingURL=App.css.map */
